.add-cell {
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.1s;
}
.add-cell:hover {
    opacity: 1.0;
}

.add-cell.force-visible {
    opacity: 1.0;
}

.add-cell .add-buttons {
    display: flex;
    justify-content: center;
}
.divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid gray;
    width: 100%;
    z-index: -1;
}

.add-cell .add-buttons button {
    margin: 0 20px;
}